<p id="notice"><%= notice %></p>

<h1>Cohorts</h1>

<table>
  <thead>
     <tr>
      <th>Name</th>
      <th>Start Date</th>
      <th>End Date</th>
      <th>Course ID</th>
    </tr>
  </thead>

  <tbody id="Cohorts">
    <% @cohorts.each do |cohort| %>
      
      <%= render cohort %>

    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Cohort', new_cohort_path, remote: true, id: "ajaxcall" %>
<div id='cohort_form'></div>
