<h1>Editing Student</h1>

<%= render 'form', student: @student %>
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

    <!-- other inputs here -->
   



<%= link_to 'Show', @student %> |
<%= link_to 'Back', students_path %>
